<header>
              
            <img src="img/Logo.jpg">
</header>
 <nav class="section-item">
                  <ul>
                      <li>
                          <a href="#text" >Text</a></li>
                      <li>
                          <a href="#ti">Text+Images</a></li>
                      <li>
                          <a href="#colours">Colours</a></li>
                      <li>
                          <a href="#links">Links</a></li>
                      <li>
                          <a href="#widgets">Widgets</a>
                        </li>
                  </ul>
   </nav>
